//variables
$title1: 40px;
$title2: 13px;

$bgc1: linear-gradient(180deg, #6dffc6 1%, #3fd2ce 99%);
$bgc2: linear-gradient(172deg, #ff6c54 1%, #ff2b59 99%);
$bgc3: #233537;

$pd: 80;


//global rules start
body{
  font-family: 'Roboto', sans-serif;
}



//global rules end


//<!--header start-->
header{}
//<!--header end-->

//<!--banner start-->
.banner{}
//<!--banner end-->

//<!--service start-->
.service{}
//<!--service end-->

//<!--design1 start-->
.design1{}
//<!--design1 end-->

//<!--responsive start-->
.responsive{}
//<!--responsive end-->

//<!--design2 start-->
.design2{}
//<!--design2 end-->

//<!--numbers start-->
.numbers{}
//<!--numbers end-->

//<!--team start-->
.team{}
//<!--team end-->

//<!--quote start-->
.quote{}
//<!--quote end-->

//<!--subscribe start-->
.subscribe{}
//<!--subscribe end-->

//<!--site start-->
.site{}
//<!--site end-->

//<!--modern start-->
.modern{}
//<!--modern end-->

//<!--clients start-->
.client{}
//<!--clients end-->

//<!--contact start-->
.contact{}
//<!--contact end-->

//<!--address start-->
.address{}
//<!--address end-->

//<!--footer start-->
footer{}
//<!--footer end-->